
    <div class="navigatsioon d-flex justify-content-between">
        <div class="logoala d-flex">
            <div class="logopilt">
                <img class="img-fluid" src="./pildid/klubilogo.png" alt="">
            </div>
            <div class="lehetiitel">HIGIKOLL MATKAD</div>
        </div>
        <div class="menyyala">
            <ul class="nav">
                <li class="nav-item"><a href="/">Esileht</a></li>
                <li class="nav-item"><a href="/uudised">Uudised</a></li>
                <li class="nav-item"><a href="/kontakt">Kontakt</a></li>
                <li class="nav-item"><a href="mang/drklikk.html">MÄNG</a></li>
            </ul>
        </div>
    </div>