<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Matkaklubi</title>
</head>
<body>
    <div class="container-fluid paisetaust">
        <div class="container">
            
            <%- include ("../partials/pais.ejs") %>

            <div class="row pais">
                <div class="col-12 col-lg-6 pealkirjad">
                    <div class="rida1 d-flex justify-content-between">
                        <h2>V천ta ennast kokku ja liiguta veidigi!</h2>
                        <img class="liblikas1 img-fluid" src="./pildid/Butterfly0.png" alt="">
                    </div>
                    <div class="rida2 d-flex">
                        <img class="liblikas2" src="./pildid/Butterfly1.png" alt="">
                        <h1>Oleme higised...</h1>
                    </div>
                    <div class="rida3">
                        <h3>...ometi 천nnelikud ja r천천msad!</h3>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6 paisepilt">
                    <img class="matkaja" src="./pildid/Image.png" alt="">
                    <img class="vari" src="./pildid/Shadow.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="konteiner">
        <div id="matkade_valjund" class="row pt-4">
            
        </div>
    </div>

    <script src="matkaklubi.js"></script>
</body>
</html>