<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Matkaklubi | Kontakt</title>
</head>
<body>
    <div class="container-fluid paisetaust">
        <div class="container">
            <div class="navigatsioon d-flex justify-content-between">
                <div class="logoala d-flex">
                    <div class="logopilt">
                        <img class="img-fluid" src="./pildid/klubilogo.png" alt="">
                    </div>
                    <div class="lehetiitel">HIGIKOLL MATKAD</div>
                </div>
                <div class="menyyala">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="index.html">
                                Esileht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="uudised.html">
                                Uudised
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="kontakt.html">
                                Kontakt
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="mang/drklikk.html">
                                MÄNG
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kontakteerumisala">
                
                <h3>Võtke meiega ühendust täites allolevad vormid!</h3>
                <div class="sisestus">
                    <label for="nimi">Teie nimi/e-mail:</label>
                    <input type="text" name="nimi" id="nimi" size="30"><br>
                    <label for="teade">Teade:</label><br>
                    <textarea id="teade" name="teade" rows="5" cols="60"></textarea><br>
                    <button onclick="kliendiTagasiside()">Saada!</button>
                </div>
                
                <div id="teadeKasutajale"></div>
            </div>

        </div>
    </div>

    <script src="kontakt.js"></script>
</body>
</html>