<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="matkaklubi.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Matkaklubi | Uudised</title>
</head>
<body>
    <div class="container-fluid paisetaust">
        <div class="container">
            <%- include ("../partials/pais.ejs") %>
            
            
            <div class="konteiner">
                <div>
                    <h2>Uudised ja kommentaarid</h2>
                </div>
                <div class="uudis">
                    <h3>Mitte ainult alfadele!!!</h3>
                    <p class="kuupaev">27.05.2021 kell 18:34</p>
                    <div class="blokk">
                        <p>Matkamine on sotsiaalselt hea. Meie grupis leidub palju alfa-emaseid-isaseid.
                            Neile sekundeerivad ka beetad, ometi satub ka kreeka tähestiku lõpumailt
                            oomega-isendeid, keda me samuti ukse taha ei söanda jätta -- raha tahaks ikka.
                            Oleme kohanud oma grupis inimesi, kes kannatavad
                            vaimsete probleemide käes ja on teistest isoleeritud.
                            Siin saavad nad kasvõi mõningase suhtluse osaliseks
                            teiste grupi liikmetega ning selle üle on meil ainult hea meel!
                            Loomulikult jälgimine, et meie nn patsient teisi arve maksnud teenuse
                            kasutajaid liialt ei segaks :o)
                        </p>
                    </div>
                    
                </div>
                <div class="uudis">
                    <h3>Sookoll teatab: mätas on kuiv & roheline, matkata on hea!</h3>
                    <p class="kuupaev">13.03.2021 kell 15:06</p>
                    <div class="blokk">
                        <p>Kena linnulaul jõudis kõrvu ja kevad seega lähedal
                            nii looduse harmoonilise käitumise kui kalendri järgi peagi.
                            Matkata on nii hea! Meie selge grupijuht Sookoll ootab juba
                            värskeid matkaselle oma gruppi ja pakub kiirematele
                            registreerujatele ka midagi head. PS! Pole keelatud tuua Sookollile
                            ka meelehead (eriti armastab ta omanimelisi vahvleid :P)...
                        </p>
                    </div>
                    
                </div>
                <div class="uudis">
                    <h3>Ärme unusta: matkamine on tervisele jätkuvalt kasulik!!!</h3>
                    <p class="kuupaev">18.02.2021 kell 8:00</p>
                    <div class="blokk">
                        <p>Ilged külmad on ehk selleks korraks läbi.
                            Vedas nendel, kel oli keskküte (maksite end küll pooleks).
                            Sookoll elab aga ahiküttega onnis ja teab: kondid küll
                            kanged aga matkamine aitab. Matkamine on tervisele hea ning 
                            jätkub ka võhma, et teha uueks talveks puid. Vanarahvas öelnud: ega tali
                            taeva jää ja kostitab veel eriti hullude miinustega järgmisel korral :O
                        </p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    <script src="uudised.js"></script>
</body>
</html>